# Auction Bid Time

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import datetime

In [3]:
bid=pd.read_csv('all_bid.csv')

/Users/sydneybednar/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
bid['bid_placed_on']=pd.to_datetime(bid['bid_placed_on'])
bid=bid[bid['bid_placed_on']>datetime.datetime(2021,1,1)]

In [95]:
bid['hour_date']=bid['bid_placed_on'].dt.strftime('[%m/%d, %H]')
bid['date']=bid['bid_placed_on'].dt.date
key=bid.groupby('auction_id')['hour_date'].last().reset_index()

In [64]:
new=key.merge(bid, how='left')
new_2=new.groupby(['auction_id','buyer'])['bid'].count().reset_index()

In [90]:
new_2=new_2.rename(columns={'bid':'bids_in_last_hour'})
# new_2.to_excel('bidders_last_hour.xlsx')

In [78]:
total=bid.groupby(['auction_id','buyer'])['bid'].count().reset_index()
total.groupby('auction_id')['buyer'].count()

auction_id
250     9
251    20
252    26
253    31
254    48
       ..
328    31
329    22
330    37
331    27
332    17
Name: buyer, Length: 80, dtype: int64

In [94]:
new_2.groupby('auction_id')['buyer'].count()/total.groupby('auction_id')['buyer'].count()

auction_id
250    0.222222
251    0.100000
252    0.192308
253    0.193548
254    0.041667
         ...
328    0.064516
329    0.045455
330    0.054054
331    0.037037
332    0.117647
Name: buyer, Length: 80, dtype: float64

In [86]:
perc=(new_2.groupby('auction_id')['buyer'].count()/total.groupby('auction_id')['buyer'].count()*100).mean()

In [87]:
print('the avg percent of bidders who bid within the last hour of auction: {:.2f}%'.format(perc))

the avg percent of bidders who bid within the last hour of auction: 12.97%

In [110]:
key_date=bid.groupby('auction_id')['date'].last().reset_index()
key_date

    auction_id        date
0          250  2021-01-03
1          251  2021-01-04
2          252  2021-01-10
3          253  2021-01-11
4          254  2021-01-19
..         ...         ...
75         328  2021-06-01
76         329  2021-05-31
77         330  2021-06-07
78         331  2021-06-07
79         332  2021-06-07

[80 rows x 2 columns]

In [116]:
new_date=key_date.merge(bid, how='left')
new_date2=new_date.groupby(['auction_id','buyer'])['bid'].count().reset_index()
new_date2=new_date2.rename(columns={'bid':'bids_on_last_day'})

In [115]:
new_date2.groupby('auction_id')['buyer'].count()/total.groupby('auction_id')['buyer'].count()*100

auction_id
250    55.555556
251    45.000000
252    38.461538
253    45.161290
254    25.000000
         ...
328    38.709677
329    40.909091
330    43.243243
331     7.407407
332    52.941176
Name: buyer, Length: 80, dtype: float64

In [117]:
# new_date2.to_excel('bidders_last_day.xlsx')

In [108]:
perc_date=(new_date2.groupby('auction_id')['buyer'].count()/total.groupby('auction_id')['buyer'].count()*100).mean()

In [109]:
print('the avg percent of bidders who bid within the last day of auction: {:.2f}%'.format(perc_date))

the avg percent of bidders who bid within the last day of auction: 41.56%