# Hotjar Summary

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import datetime

In [2]:
hotjar=pd.read_excel('hotjar_log.xlsx')

In [3]:
hotjar.shape

(605, 5)

In [4]:
hotjar['Date Time']=pd.to_datetime(hotjar['Date Time'])

In [5]:
hotjar=hotjar.dropna(subset=['Action'])

In [6]:
hotjar['Qty/Input'].value_counts()

/add to bag         57
/place bid          57
lv shoulder bag     45
lv wallet           39
lv tote             34
                    ..
# shop all           1
prada top handle     1
"marmonty"           1
# hot deals          1
ysl backpack         1
Name: Qty/Input, Length: 122, dtype: int64

In [7]:
hotjar.groupby('Action')['Qty/Input'].value_counts(normalize=True)*100

Action  Qty/Input
Click   /add to bag                  11.899791
        /place bid                   11.899791
        lv wallet                     7.724426
        lv shoulder bag               6.889353
        lv tote                       5.845511
                                       ...
Search  "sunglasses"                 10.000000
Sort    prices low to high           44.444444
        price low to high            22.222222
        prices high to low           22.222222
        minimum bid (low to high)    11.111111
Name: Qty/Input, Length: 131, dtype: float64

In [28]:
hotjar[hotjar['Qty/Input'].str.contains('chanel')].groupby('Action')['Qty/Input'].count()

Action
Click       54
Favorite    12
Name: Qty/Input, dtype: int64

In [9]:
len(hotjar[hotjar['Qty/Input'].str.contains('lv')])-6

141

In [29]:
pd.DataFrame(hotjar['User Email'].unique())

                                0
0   clothesencountersdc@gmail.com
1           juli.madigan@ebth.com
2               nesly.m@lxrco.com
3    luckyfindsboutique@gmail.com
4        hbowie@ruegiltgroupe.com
5      kim@onagainconsignment.com
6           jmsnapoleon@yahoo.com
7              wayne@vivrelle.com
8         smittenluxury@gmail.com
9                egpnyc@gmail.com
10         doubletakeva@gmail.com
11     itskarlawilliams@gmail.com
12          airamsossat@gmail.com
13       kathyancompany@gmail.com
14           sickofstorms@aol.com
15            urconsign@gmail.com
16  salesexpert@luxurygoround.com
17    chris.fuhrman@homations.com
18           alyssa.trn@gmail.com
19       mail@chicconsignment.com
20  sara.holme@bagborrowsteal.com
21        sandra.decola@gmail.com

In [11]:
hotjar[hotjar['Qty/Input'].str.contains('gucci')].groupby('Action')['Qty/Input'].value_counts()

Action    Qty/Input
Click     gucci shoulder bag     27
          gucci tote             14
          gucci clutch           11
          gucci wallet            8
          gucci sunglasses        6
          gucci crossbody bag     4
          gucci handbag           3
          gucci top handle        2
          gucci accessory         1
          gucci case              1
          gucci hat               1
          gucci waist bag         1
Favorite  gucci shoulder bag      6
          gucci crossbody bag     2
          gucci backpack          1
Search    "gucci marmot"          1
          "gucci soho"            1
Name: Qty/Input, dtype: int64

In [12]:
hotjar[hotjar['Qty/Input'].str.contains('gucci')].groupby('Action')['Qty/Input'].count()

Action
Click       79
Favorite     9
Search       2
Name: Qty/Input, dtype: int64

In [13]:
hotjar[hotjar['Action']=='Search']

,User Email,Date Time,Action,Qty/Input,Specs
0,clothesencountersdc@gmail.com,2021-06-28 14:09:00,Search,"""louis vuitton azur""",NaN
4,clothesencountersdc@gmail.com,2021-06-28 14:09:00,Search,"""louis vuitton graphite""",NaN
6,clothesencountersdc@gmail.com,2021-06-28 14:09:00,Search,"""gucci soho""",NaN
8,clothesencountersdc@gmail.com,2021-06-28 14:09:00,Search,"""gucci marmot""",NaN
260,egpnyc@gmail.com,2021-07-06 17:52:00,Search,"""marmonty""",NaN
279,doubletakeva@gmail.com,2021-07-08 17:30:00,Search,"""louis vuitton wallet""",NaN
434,salesexpert@luxurygoround.com,2021-07-22 01:26:00,Search,"""hermes bag charm""",NaN
452,chris.fuhrman@homations.com,2021-07-21 19:14:00,Search,"""hat""",NaN
453,chris.fuhrman@homations.com,2021-07-21 19:14:00,Search,"""belt""",NaN
454,chris.fuhrman@homations.com,2021-07-21 19:14:00,Search,"""sunglasses""",NaN

In [31]:
hotjar[hotjar['Action']=='Filter'].groupby('User Email')['Qty/Input'].value_counts()

User Email                     Qty/Input
airamsossat@gmail.com          newest               1
alyssa.trn@gmail.com           overall grade        1
clothesencountersdc@gmail.com  designer             1
doubletakeva@gmail.com         newest               1
egpnyc@gmail.com               designer             2
                               handbags             2
itskarlawilliams@gmail.com     designer             1
jmsnapoleon@yahoo.com          handbags             1
                               overall grade        1
kathyancompany@gmail.com       auction              2
                               designer             2
                               handbags             2
                               overall grade        1
kim@onagainconsignment.com     jewelry              1
luckyfindsboutique@gmail.com   designer             1
                               price                1
salesexpert@luxurygoround.com  accessories          2
                               designer             2
                               small accessories    1
sandra.decola@gmail.com        designer             1
                               overall grade        1
sara.holme@bagborrowsteal.com  overall grade        1
smittenluxury@gmail.com        designer             2
                               handbags             2
                               accessories          1
urconsign@gmail.com            designer             1
                               overall grade        1
                               quick shipping       1
wayne@vivrelle.com             overall grade        3
                               auction              1
Name: Qty/Input, dtype: int64

In [17]:
hotjar[hotjar['Action']=='Sort'].groupby('User Email')['Qty/Input'].value_counts()

User Email                     Qty/Input
clothesencountersdc@gmail.com  prices low to high           3
                               prices high to low           1
doubletakeva@gmail.com         price low to high            1
egpnyc@gmail.com               minimum bid (low to high)    1
                               price low to high            1
luckyfindsboutique@gmail.com   prices high to low           1
                               prices low to high           1
Name: Qty/Input, dtype: int64

In [33]:
hotjar[hotjar['Action']=='Sort'].groupby('User Email')['Qty/Input'].value_counts()

User Email                     Qty/Input
clothesencountersdc@gmail.com  prices low to high           3
                               prices high to low           1
doubletakeva@gmail.com         price low to high            1
egpnyc@gmail.com               minimum bid (low to high)    1
                               price low to high            1
luckyfindsboutique@gmail.com   prices high to low           1
                               prices low to high           1
Name: Qty/Input, dtype: int64

In [35]:
hotjar[hotjar['Action']=='Favorite'].groupby('User Email')['Qty/Input'].count()

User Email
kathyancompany@gmail.com          6
sandra.decola@gmail.com          35
sara.holme@bagborrowsteal.com     1
Name: Qty/Input, dtype: int64

In [38]:
hotjar[hotjar['Qty/Input'].str.contains('#')]['Qty/Input'].value_counts()

# bag                    5
# confirm purchase       5
# buyers                 4
# staple must haves      3
# my orders              3
# Rue Gilt stock         1
# shop all               1
# my profile             1
# hot deals              1
# my bids                1
# my account             1
# EBTH stock             1
# order                  1
# view bids              1
# blog                   1
# summer essentials      1
# rare and remarkable    1
# suppliers              1
# auction                1
# review bids            1
Name: Qty/Input, dtype: int64