# June vs May

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import datetime

In [2]:
orders=pd.read_csv('june_may2021.csv')

In [3]:
orders.columns

Index(['Order ID', 'Reference', 'Buyer ID', 'Seller ID', 'Item ID',
       'Markdown ID', 'Buyer', 'Buyer Email', 'Seller', 'Seller Email', 'Item',
       'Item Creation', 'Color', 'Brand', 'Category', 'Parent Category',
       'Subtotal', 'Shipping', 'Refunded', 'Promo Code', 'Promo Value',
       'Markdown', 'Credit', 'Tax', 'Total', 'Payment Type',
       'Credit Card (Stripe) ID', 'Paypal Transaction ID', 'Affirm Charge ID',
       'Seller Fee', 'Seller Label', 'Seller Shipping', 'Seller Refunded',
       'Seller Cashout', 'Seller Promo', 'Billing Name', 'Billing Line 1',
       'Billing Line 2', 'Billing City', 'Billing Region', 'Billing Postcode',
       'Billing Country', 'Buyer Shipping Name', 'Buyer Shipping Line 1',
       'Buyer Shipping Line 2', 'Buyer Shipping City', 'Buyer Shipping Region',
       'Buyer Shipping Postcode', 'Buyer Shipping Country', 'Phone',
       'Seller Shipping Name', 'Seller Shipping Line 1',
       'Seller Shipping Line 2', 'Seller Shipping City',
       'Seller Shipping Region', 'Seller Shipping Postcode',
       'Seller Shipping Country', 'Status', 'Cancellation Reason',
       'Modified_At', 'Created At', 'Completed At', 'Pending Until',
       'Item URL', 'Main Image URL', 'Order URL', 'Style', 'Material', 'Size',
       'Prints'],
      dtype='object')

In [4]:
orders=orders.drop(columns=['Payment Type',
       'Credit Card (Stripe) ID', 'Paypal Transaction ID', 'Affirm Charge ID',
       'Seller Fee', 'Seller Label', 'Seller Shipping', 'Seller Refunded',
       'Seller Cashout', 'Seller Promo', 'Billing Name', 'Billing Line 1',
       'Billing Line 2', 'Billing City', 'Billing Region', 'Billing Postcode',
       'Billing Country', 'Buyer Shipping Name', 'Buyer Shipping Line 1',
       'Buyer Shipping Line 2', 'Buyer Shipping City', 'Buyer Shipping Region',
       'Buyer Shipping Postcode', 'Buyer Shipping Country', 'Phone',
       'Seller Shipping Name', 'Seller Shipping Line 1',
       'Seller Shipping Line 2', 'Seller Shipping City',
       'Seller Shipping Region', 'Seller Shipping Postcode',
       'Seller Shipping Country'])

In [5]:
orders.columns

Index(['Order ID', 'Reference', 'Buyer ID', 'Seller ID', 'Item ID',
       'Markdown ID', 'Buyer', 'Buyer Email', 'Seller', 'Seller Email', 'Item',
       'Item Creation', 'Color', 'Brand', 'Category', 'Parent Category',
       'Subtotal', 'Shipping', 'Refunded', 'Promo Code', 'Promo Value',
       'Markdown', 'Credit', 'Tax', 'Total', 'Status', 'Cancellation Reason',
       'Modified_At', 'Created At', 'Completed At', 'Pending Until',
       'Item URL', 'Main Image URL', 'Order URL', 'Style', 'Material', 'Size',
       'Prints'],
      dtype='object')

In [6]:
orders['Created At']=pd.to_datetime(orders['Created At'])

In [7]:
full=orders.groupby([orders['Created At'].dt.date, orders['Buyer']])['Total'].sum().reset_index()
full['Created At']=pd.to_datetime(full['Created At'])
full.groupby(full['Created At'].dt.month)['Total'].mean()

Created At
5    1164.287658
6    1061.088455
Name: Total, dtype: float64

In [8]:
count=orders.groupby([orders['Created At'].dt.date, orders['Buyer']])['Total'].count().reset_index()
count['Created At']=pd.to_datetime(count['Created At'])
count.groupby(count['Created At'].dt.month)['Total'].sum()

Created At
5    266
6    158
Name: Total, dtype: int64

In [9]:
repeat=count.groupby(count['Created At'].dt.month)['Buyer'].value_counts().rename('count').reset_index()
repeat[repeat['count']>1].groupby('Created At').count()

            Buyer  count
Created At
5               8      8
6               6      6

In [16]:
repeat.groupby('Created At')['Buyer'].count()

Created At
5    145
6    117
Name: Buyer, dtype: int64

In [19]:
6/117*100

5.128205128205128

In [11]:
orders.groupby(orders['Created At'].dt.month)['Subtotal'].sum()

Created At
5    223158.19
6    142022.38
Name: Subtotal, dtype: float64

In [12]:
orders.groupby([orders['Created At'].dt.month, orders['Promo Code']])['Subtotal'].sum()

Created At  Promo Code
5           APRIL40        4642.80
            LEPRIX10      16443.59
            MAY10         16692.19
            MAY40         60287.42
            MEMORIAL      29662.80
            THANKYOU       1500.00
            WELCOME       21275.79
6           28546           828.74
            CARSON          850.00
            FLASH          1323.00
            JUNE2021       1753.00
            KICKOFF25      6006.00
            LEPRIX10      12916.33
            MEMORIAL       6658.00
            THANKYOU        817.00
            WELCOME       32874.15
Name: Subtotal, dtype: float64

In [13]:
orders.groupby([orders['Created At'].dt.month])['Status'].value_counts()

Created At  Status
5           COMPLETE          191
            CANCELLED          44
            APPROVED           26
            REJECTED_FRAUD      7
            REVIEWING           1
6           COMPLETE          105
            CANCELLED          37
            APPROVED           14
            REVIEWING           4
Name: Status, dtype: int64