# Client List

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import seaborn as sns

In [2]:
buy=pd.read_excel('client_list.xlsx')
email=pd.read_csv('buyer_emails.csv')

In [3]:
buy=buy[['User ID', 'Retailer Name']]
buy=buy.rename(columns={'User ID': 'user_id', 'Retailer Name': 'username'})

buy['username']=buy['username'].str.lower()

buy.head()

   user_id          username
0   186104          sydney.s
1   182715             wgaca
2   205200      jonathanriss
3     2829         chic girl
4   188669  bag borrow steal

In [4]:
buy.shape

(296, 2)

In [5]:
email['username']=email['username'].str.lower()

In [6]:
new=buy.merge(email, how='left')

new.head()

,user_id,username,email,first_purchase_date
0,186104,sydney.s,sydney.s@lxrco.com,2019-02-13
1,182715,wgaca,luxbuyers@wgacany.com,2019-11-11
2,205200,jonathanriss,jonathanriss@jayahr.com,2019-12-04
3,2829,chic girl,Ellen@chictochic.com,2019-03-20
4,188669,bag borrow steal,Sara.Holme@bagborroworsteal.com,2019-04-04

In [7]:
new.shape

(296, 4)

In [8]:
new['email']=new['email'].str.lower()

In [9]:
ws_buy=pd.read_csv('ws_buy.csv')
new=new.merge(ws_buy[['email','medium']], left_on='email', right_on='email', how='left')

In [10]:
new.shape

(298, 5)

In [12]:
leprix=list(email[email['email'].str.contains('leprix.com')]['username'])
leprix.append(['rtn+loveluxe', 'loveluxeboutique', 'vivasnobswap', 'mustloveshoes', 'soohee'])

new=new.drop(list(new.loc[new['username'].isin(leprix)].index))
new.shape

(293, 5)

In [13]:
new[new['medium'].isnull()]

,user_id,username,email,first_purchase_date,medium
0,186104,sydney.s,sydney.s@lxrco.com,2019-02-13,NaN
1,182715,wgaca,luxbuyers@wgacany.com,2019-11-11,NaN
2,205200,jonathanriss,jonathanriss@jayahr.com,2019-12-04,NaN
3,2829,chic girl,ellen@chictochic.com,2019-03-20,NaN
4,188669,bag borrow steal,sara.holme@bagborroworsteal.com,2019-04-04,NaN
...,...,...,...,...,...
293,202428,taamtrading,hai@taamtrading.com,2019-08-04,NaN
294,202353,phenom01,phenom01@msn.com,2019-07-24,NaN
295,146587,ohlaladesignerresale,kbryant1042@gmail.com,2019-07-18,NaN
296,202157,backontheracknj,mcalarychris@aol.com,2019-07-13,NaN
297,201448,2ndchanceresaleoh,hollylaz@yahoo.com,2019-07-10,NaN

In [16]:
bout=pd.read_csv('snobswapboutiques.csv')

In [21]:
bout['Username']=bout['Username'].str.lower()

bout_list=list(bout['Username'])


new=new.drop(list(new.loc[new['username'].isin(bout_list)].index))
new.shape

(265, 5)

In [23]:
bout_list

['gemma by wp diamonds',
 'chic consignment ma',
 'walkerviden',
 'thebrandcollector',
 'imissyouvintage',
 'tara tucci',
 'queen bee of beverly hills',
 'fin and mo',
 'luxuria & co.',
 'prive porter',
 'decades inc',
 'zelda zonk consignment',
 'turnabout',
 'shopteoc',
 'designervault',
 're-vogue',
 "wilder's house",
 'the lady bag',
 'curatedstyles_cafe',
 'maison boutik',
 'comenuovobg',
 'quick consignment',
 'luxuryhorology',
 'hottercooler',
 'theluxurycloset',
 'back by popular demand',
 'authentique-luxe',
 'luxojewelry',
 'michael moses vault',
 'tjbswap',
 'shopthelx ',
 'entrenous',
 'elady',
 'dallasdesignerhandbags',
 'my closet rocks',
 'grace & ted',
 'malvaddiction',
 'giftofgarb',
 'rebag',
 'modoboutique',
 'behind the clothed door',
 'designer consigners',
 'exquisite finds',
 'celebrity closets // vip fashion vault',
 'luxeswap',
 'luxetouchconsignment',
 'luxe.it.fwd',
 'kiki d. design & consign',
 'curatedconsignment',
 'anniesuniqueaccessories',
 'couture for all',
 'maruconsign',
 'encore luxury resale',
 'thediamondhanger',
 'mrpawn',
 'samples and sales',
 'carredeparis',
 'jemznjewels',
 'fashionreloved',
 'luxepurses',
 'past&presentboutique',
 'closetvogue',
 'refrock',
 'lexlyngroup boutique',
 'spadecreations',
 'luxury247',
 'bagriculture',
 'monalisa_creations',
 'sweet deals',
 'marquesupply',
 'mightychic',
 'jewelryislandjp2015',
 'brand-jp',
 'couture usa',
 'gold and beyond',
 'eexquisitejewelry',
 '31jewelsinc',
 'leef\xa0luxury',
 'luxurylabels',
 'real deal collection',
 'paris diva',
 'brocantedeluxe',
 'luxedh',
 'onlyauthentics',
 'handbags divine',
 'luxurytrading',
 'lilla designer consignment',
 'ascresale',
 'therealsnobshop',
 'tribecafashionhouse',
 'designer swap',
 'herbag',
 'fmasarovic',
 'dcnatickconsignment',
 'wish newport',
 'curatedluxe',
 'luxcellent',
 'handpicked boutique',
 'classic collections palm beach',
 'gem de la gem',
 'chicagoconsignment',
 'reebonz boutique',
 'coco et louis',
 'true fashionistas resale',
 'evesherfashion',
 'mineandyours',
 'catwalkvintage',
 'fifislkn',
 'designerconsigner',
 'a list sample sale',
 'queen of luxury boutique',
 'the style sanctum',
 'phenixnyc',
 'strictlypursonal',
 'e designer',
 'anauthentic',
 'designer resale boutique',
 'poshbagboutique',
 'authentic designer stuff',
 'eyewear gallery',
 'happy 3 consignment',
 'goclementine',
 'undergroundrunway',
 'cashinmybag',
 'fashion_bazaar',
 'echo boutique',
 'the exquisite artichoke',
 'bella tutto jewelry',
 'i pick shoes much better than i pick men',
 'fashion addict',
 'dallas designer handbags tx',
 'jetsetterglobal',
 'raymondleejewelers',
 'botenza boutique',
 'designer revival',
 'omi_jewelry',
 'therecycledcloset',
 'backinstyle',
 'stepanistyle',
 'crave luxury consignment',
 'sellyourhandbag',
 'poplin',
 'luxurygaragesale',
 'loveluxeboutique',
 'clotheshorse anonymous tx',
 'revolve belmont center',
 'thrill of the find',
 'thedivinerightoffashion',
 'onesavvydesign',
 'a daily diva',
 "n'used fashions",
 'theupside',
 'consignit couture',
 'brpluxury',
 'haute marché',
 'perpetua luxury',
 'boutiquepatina',
 'tmcloset',
 'prince & park',
 'bellissima consignment boutique',
 'bis designer resale',
 'upscalealley',
 'luxury resale',
 "jody's closet",
 'designerexchange',
 'boutiqueon57',
 'consigneddesigns',
 'to be continued...',
 'cynthiasconsignments',
 'luxuryresalenetwork',
 'doubletakenj',
 'ohmydarling',
 'eraluxe',
 'michaelsonline',
 'graceysrecreations',
 'lux addicts',
 'snobshack',
 'theconsignmentbar',
 'revivalupscale',
 'taupeco',
 'salvedge boutique',
 'clevelandconsignment',
 'ladybaginternational',
 'onquestyle',
 'allforfunds',
 'encorecloset',
 'sgconsignment',
 'ellarue',
 'chictochic']

In [22]:
# new.to_excel('source_clients.xlsx')