# WS Active List Update

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import datetime

In [2]:
full=pd.read_excel('WholesaleAccessList.xlsx')
active=pd.read_excel('active_accts.xlsx')

In [9]:
full['username']=full['username'].str.lower()
full.shape

(1416, 12)

In [11]:
full.head()

,user_id,username,email,first_name,last_name,type,wholesale_line1,wholesale_line2,wholesale_city,wholesale_region,wholesale_country,phone
0,112,resaleriches,resalerichesnyc@gmail.com,Tania,Anthony,company,40 Harrison St Apt 4K,NaN,New York,NY,US,119175820701
1,16216,cremedelacreme,gravelson11@att.net,Veronica,Levine,individual,1039 Kane Concourse,NaN,Bay Harbor Islands,FL,US,13057638005
2,25965,onquestyle,sales@onquestyle.com,Kirsten,Prosser,individual,2900 E Coast Hwy,NaN,Corona del Mar,CA,US,19497177795
3,31116,stamadison,madison@secondtimearound.net,NaN,NaN,individual,1318 MADISON AVE,NaN,New York,NY,US,NaN
4,39013,greatlabels,greatlabels@gmail.com,Andrea,Waters,company,1126 Wilshire Blvd,NaN,Santa Monica,CA,US,13105600176

In [6]:
active=list(active[0])

In [10]:
new=full[~full['username'].isin(active)]
new.shape

(1076, 12)

In [13]:
# new.to_excel('ws_accts_minus_active.xlsx')